:root {
    --black: rgb(19, 18, 18);
    --primary: rgb(97,34,82)
}


body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("gothbackground.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: var(--black);
    padding: 20px 0;          /* controls bar thickness */
    text-align: left;
}

h1 {
    margin: 0;
    padding-left: 10vh;
    font-size: 5.5vh;           /* scale with screen size */
    color: white);
}

h2 {
  background-size: 0vh;
  padding-top: 0vh;
  padding-bottom: 500px;
  padding-left: 7vw;
  padding-right: 1vw;
  text-align: left;
  font-size: 5vh;
  color: var(--black);
}

h3 {
  text-align: center;
  font-size: 5vh;
  color: var(--primary);
}

h4 {
    margin: 0;
    padding-left: 10vh;
    font-size: 5.5vh;           /* scale with screen size */
    color: white);
}

button.comingsoon {
  pointer-events: none;
  cursor: not-allowed;         
  text-align: center;
  display: inline-block;
  font-size: 2vh; 
}

.center-box {
text-size-adjust: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
    width: 170vh;
    height: 95vh;
    background: rgba(0, 0, 0, 0.8); /* 0.5 = 50% opacity */
    margin: 0 auto;
    margin-top: 0px;
    border-radius: 4px;
}

.center-box div{
  object-fit: cover;
  position: absolute;
  width: 22vw;
  height: 40vh;
  border: 3px solid white;
  overflow: hidden;
}

.left-box {
  top: 5vh;
  left: 3vh;
}

.middle-box {
  top: 28vh;
  left: 63vh;
}

.right-box {
  top: 10vh;
  right: 4vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

body {
    position: relative;
    min-height: 100vh;
}

#Button {
  background-color: transparent;
    cursor: pointer;
    background-image: url("continue.png");
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 130px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkred;
    position: absolute;
    bottom: 120px;   /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);
}