:root {
    --NIGGA: rgb(19, 18, 18);
    --good: rgb(97,34,82)
}


* {
    background-color: var(--NIGGA);
}

header {
  background-color: rgb(97, 34, 82);
  padding: 30px;
  text-align: center;
  font-size: 10vh;
  color: white;
}
