:root {
    --black: rgb(19, 18, 18);
    --primary: rgb(97,34,82)
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--black);
    background-image: url("gothbackground.png");
}

header {
    background-color: var(--black);
    padding: 20px 0;          /* controls bar thickness */
    text-align: left;
}

h1 {
    margin: 0;
    padding-left: 10vh;
    font-size: 5.5vh;           /* scale with screen size */
    color: white);
}

h2 {
  background-size: 0vh;
  padding-top: 0vh;
  padding-bottom: 500px;
  padding-left: 7vw;
  padding-right: 1vw;
  text-align: left;
  font-size: 5vh;
  color: var(--black);
}

h3 {
  text-align: center;
  font-size: 5vh;
  color: var(--primary);
}

button.comingsoon {
  pointer-events: none;
  cursor: not-allowed;         
  text-align: center;
  display: inline-block;
  font-size: 2vh; 
}

.center-box {
    width: 170vh;
    height: 88.2vh;
    background: rgba(0, 0, 0, 0.8); /* 0.5 = 50% opacity */
    margin: 0 auto;
    margin-top: 0px;
    border-radius: 4px;
}

.left-box {
  width: 20vw;
  height: 35vh;
  border: 2px solid white;
  object-fit: fill;
  background: black;
  top: 20vh;
  left: 12vw;
}

.middle-box {
  width: 20vw;
  height: 35vh;
  border: 2px solid white;
  object-fit: fill;
  background: black;
  top: 28vh;
  left: 38vw;
  width: 22vw;
  height: 38vh;
}

.right-box {
  width: 20vw;
  height: 35vh;
  border: 2px solid white;
  object-fit: fill;
  background: black;
   bottom: 70vh;
  right: 100vh;
  text-indent: 100vh;
}
